
//fuentes

@font-face {
    font-family: orpheus-pro;
    src: url(fonts/OrpheusPro-Bold.ttf);
}

$font1: orpheus-pro;

// paleta de colores
$color0: #000;
$color1: #fff;
$color2: gold;
$color3: #FFC600;
$color4: #ffd700;
$color5: #030346;
$color6: #434343;

//

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font1, fantasy;
    
}

body{
    background-color: $color0;
}


.navbar{
    // background-color: $color0;
    background-color: rgb(0, 0, 0, 0.0);
    height: 80px;
    width: 100%;
    z-index: 20;
    position: absolute;
    left: 0;
    top: 0;

    ul{
        // background-color: #000 !important;
        background-color: rgb(0, 0, 0,0.0);

    }

    .logo{
        height: 200px;
        width: 250px;
        border-radius: 50%;
        // background-color: $color0;
        background-color: rgba(0, 0, 0, 0);
        background-image: url(img/logo.png);
        background-size: cover;
        background-position: center;
    }

    .nav-link{
        color: #FFC600 !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
        text-shadow: 0 0 4px #000;
        text-transform: uppercase;
    }

    .nav-link::after{
        content: '';
        display: block;
        height: 3px;
        width: 0%;
        background: transparent;
        transition: width .5s ease, background .5s ease;
    }

    .nav-link:hover:after{
        width: 100%;
        background: linear-gradient(70deg, $color1, $color3 , $color5, $color0);
    }

    .navbar-toggler{
        border: 0 !important;
    }
    .navbar-toggler:focus{
        border: 0 !important;
    }
    .fa-bars{
        color: $color3 !important;
    }

    // #collapsibleNavbar{
    //     margin-top: 20px !important;
    //     border: 3px solid $color3 !important;
    // }
    
}

.fondo1{
    height: 600px;
    width: 100%;
    // background-image: linear-gradient( 111.4deg,  rgba(7,7,9,0.9) 6.5%, rgba(27,24,113,0.9) 93.2% ), url(video/banner.gif) ;
    // background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,0.9) 0%, rgba(7,3,53,0.9) 97.5% ),url(video/banner.gif) ;
    background-image: radial-gradient( circle 1224px at 10.6% 8.8%,  rgba(255,255,255,0.8) 0%, rgba(69, 69, 69, 0.8) 100.2% ), url(video/banner.gif);
    background-size: cover;
    background-position: center;
    text-shadow: 0 0 5px $color0;
    display: grid;
    place-items: center;
    backdrop-filter: blur(5px);
    // box-shadow: inset 0 0 5px $color3;

    .call{
        height: 200px;
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        // background-color: rgba(129, 129, 129, 0.5);
        // backdrop-filter: blur(5px);
        // border-radius: 10px;
        // border: 4px solid $color3;
        // box-shadow: inset 0 0 5px $color0;

        h1{
            color: $color3;
            text-align: center;
            width: 100%;
            margin-bottom: 15px;
        }

        a{
            text-decoration: none;
            color: $color1;
            background-color: $color0;
            padding: 10px 20px;
            border-radius: 7px;
            border: 1px solid $color3;
        }

        // .call-btn:hover{
        //     background-color: red;
        //     position: relative;
        //     overflow: hidden;
        //     transition: all 1s;
        // }

        .bttn-unite.bttn-primary{
            transition: all 0.9s;
        }

        .bttn-unite.bttn-primary:hover{
            transform: scale(1.15);
        }

        .bttn-unite.bttn-primary::before {
            background: $color5;
        }

        .bttn-unite.bttn-primary:after {
            background: lighten($color5, 10%);
        }


    }

}


h3{
    text-align: center;
    margin-bottom: 30px;
    display: inline-block;

}

h3::after{
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

h3:hover::after{
    width: 100%;
    background: $color3;
}

// main inicia

main{
    min-height: 350px;
    width: 100%;
    padding: 20px;
    background-color: $color0;
    color: $color1;

    .desc{
        
        padding: 50px;

        .desc-img{
            height: 500px;
            width: 40%;
            background-color: #FFC600;
            background-image: url(img/architecture-2256489_1920.jpg);
            background-size: cover;
            background-position: center;
            // border: 2px solid $color1;
        }
        .desc-art{
            // background-color: #030346;
            padding-left: 50px;
            width: 60%;
            
            h3{
                text-align: left;
            }

            p{
                margin-bottom: 30px;
            }

            a{
                text-decoration: none;
                color: $color3;
                border: 3px solid $color3;
                padding: 10px 40px;
                position: relative;

                &::after{
                    content: "";
                    width: 100%;
                    height: 100%;
                    background: $color0;
                    position: absolute;
                    z-index: -1;
                    top: 80px;
                    left: 0;
                    transition: 0.5s ease-in-out all;
                    // display: none;
                }

                &:hover::after{
                    top: 0;
                    display: inline-flex;
                    z-index: 3;
                    background-color: $color5;

                }

                span{
                    position: absolute;
                    z-index: 5;
                }
            }
        }

        // .desc2 .desc-img2{
        //     background-image: url(img/pexels-yan-krukau-7698799.jpg);
        // }
    }

    .desc2 .desc-art{
        padding-right: 50px;
    } 

    .desc2 .desc-img{
        background-image: url(img/acompañamiento.jpg);
    }
}




h2{
    text-align: center;
    background-color: $color0;
    color: $color3;
    padding: 20px;
    margin-bottom: 0;
}

.financiamiento{
    text-align: center;
    background-color: $color0;
    color: $color1;
    padding: 0 10%;
    margin-bottom: 0;
}

// feature

.feature{
    padding: 5%;
    background-color: $color0;
    color: $color1;

    .row{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        article{
            padding: 20px;
            border: 3px solid #333;
            min-width: 400px;
            height: 270px;
            margin: 10px;
            box-shadow: 0 0 5px 0px $color1, 0 0 5px 5px $color3;
            border-radius: 5px;
            // transition: all 0.1s;

            &:hover{
                background-image: radial-gradient( circle 1224px at 10.6% 8.8%,  rgba(41, 41, 41, 0.8) 0%, rgba(188, 136, 4, 0.8) 100.2% );
                transform: scale(0.9);
            }

            a{
                text-decoration: none;
                color: $color3;

                &:hover{
                    font-size: 20px;
                    
                    &::after{
                        content: " →";
                        font-weight: bold;
                        color: $color1;
                    }
                }
            }
        }
    }
}

//slogan

.slogan{
    background-color: $color0;
    color: $color1;
    padding: 0% 20%;
}

.slogan h5{
    color: $color3;
}

.slogan h2{
    text-align: left;
    color: $color1;
}

// articulos vertical

.articulos-vertical{
    padding: 20px;
    background-color: $color0;
    color: $color1;

    .art-vert-img{
        height: 350px;
        background-image: url(img/pexels-yan-krukau-7691704.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: all 0.9s;
        transform: scale(0.9);
        border: 5px solid $color1;
    }
    .art-vert-img:hover{
        transform: scale(1);
    }
    .article-vertical{
        padding: 15px;
    }

    .article-vertical:nth-child(2) .art-vert-img{
        background-image: url(img/pexels-yan-krukau-7698799.jpg);
    }

    .article-vertical:nth-child(3) .art-vert-img{
        background-image: url(img/pexels-yan-krukau-7698807.jpg);
    }

    .article-vertical h4{
        color: $color3;
    }

    .article-vertical a{
        color: $color3;
        // text-decoration: none;
    }
}

// galeria1

.galeria1{
    background-color: $color0;
    color: $color1;
    padding: 10%;

    h5{
        text-align: center;
        color: $color3;
    }

    h2{
        color: $color1;
    }

    .galery-img{
        height: 250px;
        width: 200px;
        background-image: url(img/architecture-2256489_1920.jpg);
        background-size: cover;
        background-position: center;
        transition: all 0.8s;
        // margin: 15px;

        &:hover{
            transform: translateX(10px) translateY(-10px);
            border-radius: 10px;
            filter: sepia(100%);
        }
    }

    // .galery-img:hover{
    //     transform: skew(-5deg);
    // }

    .galery-img1{
        background-image: url(img/pexels-yan-krukau-7691704.jpg);
    }
    .galery-img2{
        background-image: url(img/acompañamiento.jpg);
    }
    .galery-img3{
        background-image: url(img/pexels-yan-krukau-7698799.jpg);
    }
    .galery-img4{
        background-image: url(img/pexels-andrea-piacquadio-3760514.jpg);
    }
    .galery-img5{
        background-image: url(img/pexels-yan-krukau-7698807.jpg);
    }
    .galery-img6{
        background-image: url(img/pexels-mikhail-nilov-8297475.jpg);
        background-position: right;
    }
}

// footer

footer{
    background-color: $color0;
    color: $color1;

    .logo{
        // background-color: aqua;
        display: flex;
        justify-content: center;
        animation-name: bounce;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    .redes{
        // background-color: aqua;
        display: flex;
        justify-content: flex-end;

        
        a{
            color: $color3;
            text-decoration: none;
            font-size: 30px;
            letter-spacing: 20px;
            transition: all 0.7s;

            &:hover{
                transform: translateY(-10px);
                color: $color1;
            }
        }
    }
    p{
        text-align: center;
    }
}


@keyframes bounce{
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.2);
    }
}





@media only screen and (max-width:576px) {
    .logo{
        display: none;
    }

    #collapsibleNavbar{
        margin-top: 20px !important;
        border: 3px solid $color3 !important;
    }

    .nav-link:hover{
        color: $color1 !important;
        background-color: #333 !important;
        text-decoration: none;
    }

    .nav-link:hover:after{
        width: 0;
    }


}
