
//fuentes



// paleta de colores
$color0: #000;
$color1: #fff;
$color2: gold;
$color3: #FFC600;
$color4: #ffd700;
$color5: #030346;

//

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $color0;
}


.navbar{
    background-color: $color0;
    height: 80px;
    width: 100%;
    z-index: 20;

    ul{
        background-color: #000 !important;
    }

    .logo{
        height: 200px;
        width: 250px;
        border-radius: 50%;
        background-color: $color0;
        background-image: url(img/logo.png);
        background-size: cover;
        background-position: center;
    }

    .nav-link{
        color: #FFC600 !important;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .nav-link::after{
        content: '';
        display: block;
        height: 3px;
        width: 0%;
        background: transparent;
        transition: width .5s ease, background .5s ease;
    }

    .nav-link:hover:after{
        width: 100%;
        background: linear-gradient(70deg, $color1, $color3 , $color5, $color0);
    }

    .navbar-toggler{
        border: 0 !important;
    }
    .navbar-toggler:focus{
        border: 0 !important;
    }
    .fa-bars{
        color: $color3 !important;
    }

    // #collapsibleNavbar{
    //     margin-top: 20px !important;
    //     border: 3px solid $color3 !important;
    // }
    
}

.fondo1{
    height: 400px;
    width: 100%;
    background-image: linear-gradient(165deg, rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.7) , rgba(0, 0, 0, 0.7)), url(img/architecture-2256489_1920.jpg);
    background-size: cover;
    background-position: center;
    text-shadow: 0 0 5px $color0;
    display: grid;
    place-items: center;

    .call{
        height: 200px;
        width: 70%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;

        h1{
            color: $color3;
            text-align: center;
            width: 100%;
            margin-bottom: 15px;
        }

        a{
            text-decoration: none;
            color: $color1;
            background-color: $color0;
            padding: 10px 20px;
            border-radius: 7px;
            border: 1px solid $color3;
        }
        
    }

}

h3{
    text-align: center;
    margin-bottom: 30px;
    display: inline-block;

}

h3::after{
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}

h3:hover::after{
    width: 100%;
    background: $color3;
}

// main inicia

main{
    min-height: 350px;
    width: 100%;
    padding: 20px;
    background-color: $color0;
    color: $color1;

    .desc{
        
        padding: 50px;

        .desc-img{
            height: 500px;
            width: 40%;
            background-color: #FFC600;
            background-image: url(img/architecture-2256489_1920.jpg);
            background-size: cover;
            background-position: center;
            // border: 2px solid $color1;
        }
        .desc-art{
            // background-color: #030346;
            padding-left: 50px;
            width: 60%;
            
            h3{
                text-align: left;
            }

            p{
                margin-bottom: 30px;
            }

            a{
                text-decoration: none;
                color: $color3;
                border: 3px solid $color3;
                padding: 10px 40px;
            }
        }

        // .desc2 .desc-img2{
        //     background-image: url(img/pexels-yan-krukau-7698799.jpg);
        // }
    }

    .desc2 .desc-art{
        padding-right: 50px;
    } 
}




h2{
    text-align: center;
    background-color: $color0;
    color: $color3;
    padding: 20px;
    margin-bottom: 0;
}

.financiamiento{
    text-align: center;
    background-color: $color0;
    color: $color1;
    padding: 0 10%;
    margin-bottom: 0;
}

// feature

.feature{
    padding: 5%;
    background-color: $color0;
    color: $color1;

    .row{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        article{
            padding: 20px;
            border: 3px solid #333;
            min-width: 400px;
            height: 270px;
            margin: 10px;


            a{
                text-decoration: none;
                color: $color3;
            }
        }
    }
}

//slogan

.slogan{
    background-color: $color0;
    color: $color1;
    padding: 0% 20%;
}

.slogan h5{
    color: $color3;
}

.slogan h3{
    text-align: left;
}

// articulos vertical

.articulos-vertical{
    padding: 20px;
    background-color: $color0;
    color: $color1;

    .art-vert-img{
        height: 350px;
        background-image: url(img/pexels-yan-krukau-7691704.jpg);
        background-size: cover;
        background-position: center;
    }
    .article-vertical{
        padding: 15px;
    }

    .article-vertical:nth-child(2) .art-vert-img{
        background-image: url(img/pexels-yan-krukau-7698799.jpg);
    }

    .article-vertical:nth-child(3) .art-vert-img{
        background-image: url(img/pexels-yan-krukau-7698807.jpg);
    }

    .article-vertical h4{
        color: $color3;
    }

    .article-vertical a{
        color: $color3;
        // text-decoration: none;
    }
}

// galeria1

.galeria1{
    background-color: $color0;
    color: $color1;
    padding: 10%;

    h5{
        text-align: center;
        color: $color3;
    }

    .galery-img{
        height: 250px;
        width: 200px;
        background-image: url(img/architecture-2256489_1920.jpg);
        background-size: cover;
        background-position: center;
        // margin: 15px;
    }

    .galery-img1{
        background-image: url(img/pexels-yan-krukau-7691704.jpg);
    }
    .galery-img3{
        background-image: url(img/pexels-yan-krukau-7698799.jpg);
    }
    .galery-img5{
        background-image: url(img/pexels-yan-krukau-7698807.jpg);
    }
}

// footer

footer{
    background-color: $color0;
    color: $color1;

    .logo{
        // background-color: aqua;
        display: flex;
        justify-content: center;
    }
    .redes{
        // background-color: aqua;
        display: flex;
        justify-content: flex-end;

        
        a{
            color: $color3;
            text-decoration: none;
            font-size: 30px;
            letter-spacing: 20px;
        }
    }
    p{
        text-align: center;
    }
}






@media only screen and (max-width:576px) {
    .logo{
        display: none;
    }

    #collapsibleNavbar{
        margin-top: 20px !important;
        border: 3px solid $color3 !important;
    }

    .nav-link:hover{
        color: $color1 !important;
        background-color: #333 !important;
        text-decoration: none;
    }

    .nav-link:hover:after{
        width: 0;
    }


}
